@charset "UTF-8";

@media all and (min-width: 0px) and (max-width: 330px){ /*iphone SE*/
	header{
		height: 120px;
	}
	
	header #header1{
		width: 85%;
	}
	
	header #header1 h1{
		font-size: 33pt;
	}
	
	header #header2{
		width: 15%;
	}
	
	header #header2 img{
		height: 50px;
		width: 50px;
	}
	
	section{
		height: 65vh;
	}
}
	
@media all and (min-width: 330px) and (max-width: 415px){ /*iphone 7 e plus*/
	header{
		height: 120px;
	}
	
	header #header1{
		width: 85%;
	}
	
	header #header2{
		width: 15%;
	}
	
	header #header1 h1{
		font-size: 33pt;
	}
	
	header #header2 img{
		height: 50px;
		width: 50px;
	}
	
	section{
		height: 68vh;
	}
	
	section #label{
		width: 85vw;
	}
}
	
@media all and (min-width: 415px) and (max-width: 770px){ /*ipad mini e normal*/
	header{
		height: 120px;
	}
	
	header #header1{
		width: 85%;
	}
	
	header #header2{
		width: 15%;
	}
	
	header #header1 h1{
		font-size: 50pt;
	}
	
	header #header2 img{
		height: 70px;
		width: 70px;
	}
	
	section{
		height: 77vh;
	}
}
	
@media all and (min-width: 770px) and (max-width: 850px){ /*ipad pro*/
	section{
		height: 77vh;
	}
}

@media all and (min-width: 850px) and (max-width: 1025px){ /*ipad pro 12*/
	section{
		height: 81vh;
	}
}

@media all and (min-width: 1025px) and (max-width: 1200px){ /*ipad pro*/
	section{
		height: 68vh;
	}
}

@media all and (min-width: 1300px) and (max-width: 1400px){ /*ipad pro 12*/
	section{
		height: 74vh;
	}
}

@media all and (min-height: 0px) and (max-height: 325px){ /*iphone SE*/
	section{
		height: 150vh;
	}
	
	section #button{
		bottom: 13vh;
	}
}

@media all and (min-height: 325px) and (max-height: 415px){ /*iphone 7 e plus*/	
	section{
		height: 150vh;
	}
	
	section #button{
		bottom: 13vh;
	}
}

@media all and (min-height: 740px) and (max-height: 770px){ /*ipad min e normal*/
	section{
		height: 66vh;
	}
}

@media all and (width: 1920px) and (height: 1080px){
	section{
		height: 76vh;
	}
}