@charset "UTF-8";

@media all and (min-width: 0px) and (max-width: 330px){ /*iphone SE*/
	header{
		height: 120px;
	}
	
	header #header1{
		width: 85%;
	}
	
	header #header1 h1{
		font-size: 33pt;
	}
	
	header #header2{
		width: 15%;
	}
	
	header #header2 img{
		height: 50px;
		width: 50px;
	}
	
	#sectionALT{
		height: 65vh;
	}
	
	#sectionALT #labelALT{
		width: 80%;
	}
	
	#sectionALT #labelALT #middle form #top input{
		width: 65vw;
	}
	
	section{
		justify-content: space-around;
		flex-direction: column;
		height: 85vh;
	}
	
	section #SX{
		height: 50%;
		width: 100%;
		padding-left: 0;
	}
	
	section #SX #label{
		width: 90%;
	}
	
	section #DX{
		align-items: space-around;
		height: 50%;
		width: 100%;
		padding-right: 0;
	}
	
	section #DX #labels{
		width: 90%;
	}
}

@media all and (min-width: 330px) and (max-width: 415px){ /*iphone 7 e plus*/
	header{
		height: 120px;
	}
	
	header #header1{
		width: 85%;
	}
	
	header #header2{
		width: 15%;
	}
	
	header #header1 h1{
		font-size: 33pt;
	}
	
	header #header2 img{
		height: 50px;
		width: 50px;
	}
	
	#sectionALT{
		height: 68vh;
	}
	
	#sectionALT #labelALT{
		width: 80%;
	}
	
	#sectionALT #labelALT #middle form #top input{
		width: 65vw;
	}
	
	section{
		justify-content: space-around;
		flex-direction: column;
		height: 75vh;
	}
	
	section #SX{
		height: 50%;
		width: 100%;
		padding-left: 0;
	}
	
	section #SX #label{
		width: 85vw;
	}
	
	section #DX{
		align-items: space-around;
		height: 50%;
		width: 100%;
		padding-right: 0;
	}
	
	section #DX #labels{
		width: 85vw;
	}
}

@media all and (min-width: 415px) and (max-width: 770px){ /*ipad mini e normal*/
	header{
		height: 120px;
	}
	
	header #header1{
		width: 85%;
	}
	
	header #header2{
		width: 15%;
	}
	
	header #header1 h1{
		font-size: 50pt;
	}
	
	header #header2 img{
		height: 70px;
		width: 70px;
	}
	
	#sectionALT{
		height: 77vh;
	}
	
	#sectionALT #labelALT{
		height: 60%;
		width: 70%;
	}
	
	section{
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		height: 77vh;
	}
	
	section #SX{
		height: 50%;
		width: 90%;
		padding-left: 0;
	}
	
	section #DX{
		flex-direction: space-around;
		height: 50%;
		width: 90%;
		padding-right: 0;
	}
}

@media all and (min-width: 770px) and (max-width: 850px){ /*ipad pro*/
	#sectionALT{
		height: 77vh;
	}
	
	#sectionALT #labelALT{
		height: 60%;
		width: 70%;
	}
	
	section{
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		height: 77vh;
	}
	
	section #SX{
		height: 50%;
		width: 90%;
		padding-left: 0;
	}
	
	section #DX{
		flex-direction: space-around;
		height: 50%;
		width: 90%;
		padding-right: 0;
	}
}

@media all and (min-width: 850px) and (max-width: 1025px){ /*ipad pro 12*/
	#sectionALT{
		height: 81vh;
	}
	
	#sectionALT #labelALT{
		height: 70%;
		width: 75%;
	}
	
	section{
		justify-content: space-around;
		align-items: center;
		flex-direction: column;
		height: 81vh;
	}
	
	section #SX{
		height: 50%;
		width: 90%;
		padding-left: 0;
	}
	
	section #DX{
		flex-direction: space-around;
		height: 50%;
		width: 90%;
		padding-right: 0;
	}
}

@media all and (min-width: 1025px) and (max-width: 1200px){ /*ipad pro*/
	#sectionALT{
		height: 68vh;
	}
	
	#sectionALT #labelALT{
		height: 70%;
		width: 55%;
	}
	
	section{
		height: 68vh;
	}
}

@media all and (min-width: 1300px) and (max-width: 1400px){ /*ipad pro 12*/
	#sectionALT{
		height: 74vh;
	}
	
	#sectionALT #labelALT{
		height: 70%;
		width: 55%;
	}
	
	section{
		height: 74vh;
	}
	
	section #SX #label{
		height: 80%;
	}
	
	section #DX #labels{
		height: 80%;
	}
}

@media all and (min-height: 0px) and (max-height: 325px){ /*iphone SE*/
	#sectionALT{
		height: 100vh;
	}
	
	#sectionALT #labelALT{
		height: 80%;
	}
	
	section{
		height: 150vh;
	}
	
	section #SX #label{
		width: 80%;
	}
	
	section #DX #labels{
		width: 80%;
	}
}

@media all and (min-height: 325px) and (max-height: 500px){ /*iphone 7 e plus*/
	#sectionALT{
		height: 95vh;
	}
	
	#sectionALT #labelALT{
		height: 80%;
	}
	
	section{
		height: 150vh;
	}
	
	section #SX #label{
		width: 80%;
	}
	
	section #DX #labels{
		width: 80%;
	}
}

@media all and (min-height: 740px) and (max-height: 770px){ /*ipad min e normal*/
	#sectionALT{
		height: 66vh;
	}
	
	#sectionALT #labelALT{
		height: 80%;
		width: 60%;
	}
	
	section #SX #label{
		width: 60%;
	}
	
	section #DX #labels{
		width: 60%;
	}
}

@media all and (width: 1920px) and (height: 1080px){
	#sectionALT{
		height: 76vh;
	}
	
	#sectionALT #labelALT{
		height: 75%;
	}
	
	section{
		height: 76vh;
	}
}